<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style type="text/css">

  </style>
</head>
<body style="margin: 0 0;">
<div style="margin: 10px 20px;">
  <h3>图片上传,上传多个文件</h3>
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.photo(multiple="multiple") }}
    {% for error in form.photo.errors %}
      <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {{ form.submit }}
  </form>
</div>
<div style="margin: 0 auto;">
  {% if img_url_list %}
    {% for url in img_url_list %}
      <img style="width: 100vw" src="{{ url }}">
    {% endfor %}
  {% endif %}
</div>
</body>
</html>