<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style type="text/css">

  </style>
</head>
<body style="margin: 0 0;">
<div style="margin: 10px 20px;">
  <h3>图片上传，结合flask-wtf, flask-uploads, 生成缩略图</h3>
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.photo }}
    {% for error in form.photo.errors %}
      <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {{ form.submit }}
  </form>
</div>
<div style="margin: 0 auto;">
  {% if img_url %}
    <img style="width: 100vw" src="{{ img_url }}">
  {% endif %}
</div>
</body>
</html>